<% races.each do |race| %>
    <h1>Race #<%= race.number %> (<%= race.date %>; <%= race.status.to_s.capitalize %>)</h1>

    <table class="table">
        <tr>
            <th>Racer</th>
            <th>Place(s)</th>
            <th>Car</th>
            <th>Status</th>
            <th>Points</th>
        </tr>

        <% race.results.sort_by(:points, :order => 'DESC').each do |result| %>
            <tr>
                <td><%= result.racer.name %></td>
                <td><%= result.places.join(', ') %></td>
                <td>
                    <% if !result.car.nil? %>
                        <a href="/cars#<%= result.car.id %>">
                            <%= result.car.name %>
                        </a>
                    <% end %>
                </td>
                <td><%= result.status.capitalize %></td>
                <td><%= result.points %></td>
            </tr>
        <% end %>
    </table>
<% end %>
